WORKER_NAME=guac03
NETBIRD_VERSION=latest
NETBIRD_MANAGEMENT_URL=https://netbird.example.org
NETBIRD_SETUP_KEY=REPLACE_ME_GUAC03
NETBIRD_LOG_LEVEL=info

GUACAMOLE_VERSION=1.6.0
GUACD_LOG_LEVEL=info
SESSIONGUARD_GUAC_IMAGE=git.send.nrw/sendnrw/sessiongurad-guacamole:latest

GUAC_DOCKER_SUBNET=10.201.3.0/24
GUAC_APP_IP=10.201.3.10
GUACD_IP=10.201.3.11

SESSIONGUARD_IP=10.202.0.10
GUAC_DB_IP=10.202.0.20

SESSIONGUARD_BROKER_API_KEY=REPLACE_ME
GUAC_DB_NAME=guacamole_db
GUAC_DB_USER=guacamole_user
GUAC_DB_PASSWORD=REPLACE_ME
